@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: rgb(32, 32, 32);
    --rank-background: rgb(66, 66, 66);

    --font-color: rgb(236, 236, 236);
    --font-subColor: rgb(162, 162, 162);
    --font-accent: cyan;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 96vh;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--background);

    font-family: "Poppins", sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

    height: 3em;
    width: 20em;

    border-bottom: 1px solid var(--font-color);
}

.top:last-child { border: 0; }
.name {font-size: 1.2em;}
.artist {color: var(--font-subColor); font-size: .9em;}

p { margin: 0px; padding: 0px; }

.player {
    height: 230px;
    width: 200px;

    border-radius: 10%;
    background-color: #1DB954;
}